In [1]:
import pandas as pd
from itertools import islice
import requests
from collections import ChainMap
import re
import string
import pickle

### Import csv file

In [2]:
df=pd.read_csv('dialect_dataset.csv')

In [3]:
df

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [4]:
df.shape

(458197, 2)

### Check null values

In [5]:
df.isnull().sum()

id         0
dialect    0
dtype: int64

In [6]:
df['id']= df['id'].astype(str)  ## change type of id into string

In [7]:
id = df["id"].values.tolist()    ## convert id column to list

In [8]:
len(id)

458197

In [9]:
type(id[0])

str

### Adding ids in list of lists, each list contains 1000 ids except the last one contains 197 ids

In [10]:
id_n = iter(id)
list1=[1000]*458
list1.append(197)
Output = [list(islice(id_n, ele)) for ele in list1]

In [11]:
len(Output[458])

197

### sending post request and get the data

In [12]:
result = {}
  
# api-endpoint
URL = "https://recruitment.aimtechnologies.co/ai-tasks"
  
for i in range(len(Output)) :
    # sending post request and saving the response as response object
    r = requests.post(url = URL, json = Output[i]) 
    # extracting data in json format
    data = r.json()
    result.update(data) ## adding the data in a dictionary

### Saving dictionary in a pickle file

In [13]:
with open('data.json', 'wb') as fp:
    pickle.dump(result, fp)